@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: "Roboto Mono", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  border: solid 2px rgba(211, 211, 211, 100%);
  padding: 0.7rem 2rem;
  border-radius: 5px;
}

.ok {
  padding: 1rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 70%);
  border-radius: 10%;
  margin-top: 25vh;
}

.container::before {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0.9;
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  background: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
}

.title {
  /* position: absolute;
  top: 50px; */
  /* margin-top: 25vh; */
  font-size: 1.5rem;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

span {
  margin-bottom: 0.7rem;
}

@media (max-width: 680px) {
  body,
  .container {
    flex-direction: column;
  }

  body {
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 1rem;
  }

  .ok {
    margin: auto 0;
    /* margin-top: 2rem; */
    border-radius: 50px;
  }

  .counter-container {
    margin: 5px 10px;
  }

  .counter {
    margin: 0;
    font-size: 2rem;
  }

  .fa-4x,
  .fa-6x {
    font-size: 3.5rem;
    padding-top: 0;
    margin-top: 0;
  }

  a {
    font-size: 1rem;
  }

  .channel-link {
    margin-top: 1rem;
  }
}
